/* src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:wght@100;400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  
  color: #FFFFFF;
  background-color: #000000;
}

body {
  margin: 0;
  min-height: 100vh;
}
